extend ../layout/main.pug

block vars
	- var title = "首页"
	- var showLogo = false
	- var showFooter = false

block styles
	link(rel="stylesheet", href="./css/index.css")

block content
	#app
		.text-over kdksfsdkfsndfsdfmsdkjingsdgnkaskdbak how to musch ing a sds nd 

block scripts
	script(src="./js/index.js") 
